<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<body>
<canvas id="myChart" style="width:100%;max-width:600px"></canvas>
<p hidden id="colorAvg"><th th:text="${feedbackAverage.colorAverage}"></th></p>
<p hidden id="seamAvg"><th th:text="${feedbackAverage.seamAverage}"></th></p>
<p hidden id="printAvg"><th th:text="${feedbackAverage.printAverage}"></th></p>
<p hidden id="shrinkageAvg"><th th:text="${feedbackAverage.shrinkageAverage}"></th></p>
<p hidden id="materialAvg"><th th:text="${feedbackAverage.materialAverage}"></th></p>
<p id="numberOfFeedbacks"><th th:text="${feedbackAverage.noOfFeedbacks}"></th> feedback/s have been submitted for this product number</p>

<script>
var colorValue = document.getElementById("colorAvg").innerHTML;
console.log("colorValue " +colorValue);

var seamValue = document.getElementById("seamAvg").innerHTML;
console.log("seamValue " +seamValue);

var printValue = document.getElementById("printAvg").innerHTML;
console.log("printValue " +printValue);

var shrinkageValue = document.getElementById("shrinkageAvg").innerHTML;
console.log("shrinkageValue " +shrinkageValue);

var materialValue = document.getElementById("materialAvg").innerHTML;
console.log("materialValue " +materialValue);

var xValues = ["Color","Seam","Print","Shrinkage","Material"];
var yValues = [colorValue,seamValue,printValue,shrinkageValue,materialValue];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "rgba(0,0,255,0.1)",
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      yAxes: [{ticks: {min: 0, max:5}}],
    }
  }
});
</script>
</body>
</html>